.nav {
    display: flex;


    justify-content: space-between;
    padding: 20px 0px 0px 20px;
    /* border-radius: 10px;
  margin: 20px; */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.gat {
    background-color: rgb(226, 108, 108);
    color: white;
    padding-bottom: 50px;
    border-radius: 10px;
    overflow-x: hidden;
}

.nav div {
    display: flex;
}

div article {
    margin-right: 80px;
}

.nav i {
    margin-left: 30px;
}

.nav1 {
    font-size: 32px;
    padding-left: 250px;

}

.nav2 {
    display: flex;
    margin: 160px 40px;

}

.navA {
    font-size: 40px;

}

.navB {
    background-color: blueviolet;
    width: 90px;
    text-align: center;
    font-size: 19px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.img1 {
    margin-left: 170px;
    width: 400px;
    mix-blend-mode: color-burn;
}

.img2 {
    width: 50px;
    margin: 0px 9px 0px 0px;

}

.call {
    display: flex;
    margin: 0px 800px 0px 0px;
    background-color: white;
    color: black;
    width: 250px;
    border-radius: 10px;
    overflow-x: hidden;

}

.call i {
    margin-left: 60px;
}

/* #call1 {
    /* margin:0px 0px 0px 100px ; */
/* margin-top: 50px;  
} */

.features .main {
    font-size: 36px;
    padding: 0px 0px 20px 0px;
}

.features {
    padding: 80px;
    overflow-x: hidden;

}

.battery b {
    font-size: 22px;

}

.battery {
    list-style-type: none;
    padding: 10px;
}

.battery div {
    padding: 0px 10px 0px 20px;
    font-size: 12px;
}

.micro b {
    font-size: 22px;
}

.micro {
    list-style-type: none;
    padding: 10px;
}

.micro div {
    padding: 0px 10px 0px 20px;
    font-size: 12px;
}

.cal b {
    font-size: 22px;

}

.cal {
    list-style-type: none;
    padding: 10px;
}

.cal div {
    padding: 0px 10px 0px 20px;
    font-size: 12px;
}

.noise b {
    font-size: 22px;
}

.noise {
    list-style-type: none;
    padding: 10px;
}

.noise div {
    padding: 0px 10px 0px 20px;
    font-size: 12px;
}

.network b {
    font-size: 22px;
}

.network {
    list-style-type: none;
    padding: 10px;
}

.network div {
    padding: 0px 10px 0px 20px;
    font-size: 12px;
}

.allb {
    margin-left: 300px;

    width: 300px;

    mix-blend-mode: color-burn;
    overflow-x: hidden;
}

.dal {
    display: flex;
}

/* @media (max-width:1024px) {
    .dal {
        

    }
} */

@media (max-width:769px) {
    .dal{
        display: block;
        margin-left: 100px;
    }
    .allb{
        margin: 10px 30px 0px 0px;
    }
}
@media (max-width:430px) {
    .dal{
       margin: 0px 100px 0px 0px; 
    }
}
@media (max-width:378px) {
    .dal{
       padding: 0px 50px 0px 0px; 
    }
    .allb{
        width: 200px;
    }
}
.bild {
    text-align: center;
    overflow-x: hidden;
}

#bild1 {
    font-size: 40px;
}


.img3 {
    width: 1100px;
    height: 500px;
    margin-top: 40px;
    border-radius: 20px;
}

@media (max-width:1024px) {
    .img3 {
        width: 800px;
    }
}

@media (max-width:768px) {
    .img3 {
        width: 700px;
        height: 300px;
    }
}

@media (max-width:431px) {
    .img3 {
        width: 350px;
        height: 250px;
    }
}

/* @media (max-width:431px) {
    .img3 {
        width: 350px;
        height: 200px;
    }
} */

@media (max-width:325px) {
    .img3 {
        width: 250px;
        height: 200px;
    }
}

.elevate {
    text-align: center;
    padding-top: 100px;
    overflow-x: hidden;
}

.elevate1 {
    font-size: 40px;
}

.byc b {
    font-size: 22px;
}

.byc div {
    font-size: 12px;
}

.byc article i {
    font-size: 35px;
    padding-left: 10px;
}

.byc {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}

.sports b {
    font-size: 22px;
}

.sports div {
    font-size: 12px;
}

.sports article i {
    font-size: 35px;
    padding-left: 10px;
}

.sports {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}

.sty b {
    font-size: 22px;
}

.sty div {
    font-size: 12px;
}

.sty article i {
    font-size: 35px;
    padding-left: 10px;
}

.sty {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}

.stock b {
    font-size: 22px;
}

.stock div {
    font-size: 12px;
}

.stock article i {
    font-size: 35px;
    padding-left: 10px;
}

.stock {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}

.sod {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    overflow-x: hidden;
}

.heart b {
    font-size: 22px;
}

.heart div {
    font-size: 12px;
}

.heart article i {
    font-size: 35px;
    padding-right: 10px;
}

.heart {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}

.blode b {
    font-size: 22px;
}

.blode div {
    font-size: 12px;
}

.blode article i {
    font-size: 35px;
    padding-right: 10px;
}

.blode {
    display: flex;
    list-style-type: none;
    padding: 20px;
    overflow-x: hidden;
}
@media (max-width:769px) {
    .sod{
        display: block;
        margin: 0px 0px 0px 150px;
    }
}
@media (max-width:429px) {
    .sod{
        display: block;
        margin: 0px 0px 0px 40px;
    }
}
@media (max-width:320px) {
    .sod{
        display: block;
        margin: 0px 0px 0px 15px;
    }
}
.com {
    text-align: center;
    margin-top: 90px;
    overflow-x: hidden;
}

.com1 {
    font-size: 50px;
}

.img4 {
    width: 300px;
    height: 400px;

}

.com2 {
    background-color: rgb(107, 91, 91);
    border-radius: 20px;
    margin: 40px 0px 0px 200px;
    width: 1100px;
    align-items: center;
}

@media (max-width:1024px) {
    .com2 {
        width: 800px;
        margin: 20px 0px 0px 100px;
    }
}
@media (max-width:768px) {
    .com2 {
        width: 700px;
        margin: 20px 0px 0px 25px;
    }
}
@media (max-width:426px) {
    .com2 {
        width: 300px;
        margin: 20px 0px 0px 50px;
    }
    .img4 {
        width: 100px;
        height: 200px;
    
    }
}
@media (max-width:377px) {
    .com2 {
        margin: 20px 0px 0px 30px;
    }
}
@media (max-width:325px) {
    .com2 {
        width: 250px;
        margin: 20px 0px 0px 23px;
    }
}
.fun {
    text-align: center;
    margin-top: 90px;
    overflow-x: hidden;
}

.fun1 {
    font-size: 50px;
    padding: 10px;
}

.card article img {
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.card {

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    overflow-x: hidden;

}

.card article:hover {
    box-shadow: 0px 0px 40px 1px rgb(221, 12, 12);
    scale: 0.8;

}

.card article {
    width: 200px;
}
@media (max-width:768px) {
    .card{
        display: grid;
        grid-template-columns:auto auto ;
    }
}
@media (max-width:431px) {
    .card{
        display: grid;
        grid-template-columns:auto;

    }
.card article{
    padding-bottom: 20px;
}
}